@media(max-width: 650px) {
  .hide {
    display: none;
  }
}

@media(max-width: 650px) {
  .mobile {
    display: inline;
  }
}

@media(max-width: 650px) {
  .banner-content {
    width: 400px;
  }
}
