<h1>Bird Search</h1>

<%= simple_form_for :custom, url: img_to_cloudinary_search_path, method: :post  do |f| %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.button :submit%>
<% end %>
