<h2>Rankings</h2>

<div class="card-container d-flex justify-content-center">
    <div class="card-content">
      <h5><strong>BirdUp! users with the most spotted birds</strong></h5>
        <div style="border: solid 1px; padding: 24px">
          <p>1.  @po_birdlover  -   601 Birds</p>
          <p>2.  @green_machine -   594 Birds</p>
          <p>3.  @m-beaulieu    -   449 Birds</p>
          <p>4.  @david_att26   -   301 Birds</p>
          <p>5.  @janey4goodall -   213 Birds</p>
          <p>6.  @paal-lewagon  -   201 Birds</p>
          <p>7.  @turbo-utes8   -   178 Birds</p>
          <p>8.  @jason8000     -    88 Birds</p>
          <p>9.  @clnearing     -    87 Birds</p>
          <p>10. @noo_noo       -    21 Birds</p>
        </div>
        <%= link_to "Go Back", spottings_path, class: "poke-button p-1 m-2"  %>
    </div>
</div>
