<div class="homepage-container">
  <div>
  <%= link_to "Look for a new bird", new_photo_path, class: "btn poke-button", style: "font-size: 28px;"%>
  </div>
  <div class="homepage-description">
    <p>
    Meet your new birdwatching companion, Bird Up!
    </p>
    <p style="margin-top: 10px;">
    Identify birds and connect with other birdwatchers in your area.
    </p>
  </div>
  <div>
  <%= link_to "See your spotted list", "#", class: "btn poke-button" %>
  </div>
  <div>
  <%= link_to "Rankings", "#", class: "btn poke-button" %>
  </div>
</div>
