<div style="position: relative;">
  <%= image_tag "bannerBird.jpg", class: "banner", alt: "parrot"%>

  <div class="banner-content">
    <h2 style="margin-bottom: 20px; color:white;">
    Meet your new birdwatching companion, Bird Up!
    </h2>
    <h5 style="margin-bottom: 20px; color:white;">
    Identify birds and connect with other birdwatchers in your area.
    </h5>
    <div>
      <%= link_to "Look for a new bird", new_photo_path, class: "btn poke-button", style: "font-size: 28px;" %>
    </div>
  </div>
</div>
