<div class="homepage-links">
  <div>
  <%= link_to "Look for a new bird", new_photo_path, class: "btn poke-button" %>
  </div>
  <div>
  <%= link_to "See your spotted list", spottings_path, class: "btn poke-button" %>
  </div>
  <div>
  <%= link_to "Rankings", "#", class: "btn poke-button" %>
  </div>
</div>
