<%# unsure about how to make it fit %>
<%# <img src="<%= spotting.bird.img_url"> %> *image to come*

<h2><%= spotting.bird.species %></h2>
<p><em><%= spotting.date%></em></p>
<p><%= spotting.location %></p>
