<div style="position: relative;">
  <div style="display: flex; right: 8px; padding-right: 60px; padding-top: 20px; z-index: 1; position: absolute;">
    <%= link_to "List View", spottings_path, class: "btn poke-button" %>
  </div>

  <div class="card-map">
    <div style= "height: 40rem;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
