<div class="container d-flex justify-content-center">
  <div style="margin: 30px">
    <h1>Look up your bird</h1>
      <%= simple_form_for @photo, url: photos_path, method: :post do |f| %>
        <%= f.input :img, as: :file %>
        <%= f.button :submit%>
      <% end %>
  </div>
</div>
