.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  line-height: 0.5px;
}

.mapboxgl-popup-content img {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
}
